body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    text-align: center;
}

header {
    background-image: url('./images/backgroundImage.jpeg');
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
    line-height: 2;
    font-weight: bold;
    font-size: 4.5em;
    margin: 0;
}

h2 {
    color: green;
}


.main-selector {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-content: center;
    flex-wrap: no-wrap;
}

.sport-selector {
    margin: 0;
    padding: 0;
    cursor: pointer;
    flex-basis: 25%;
    
}
.sport-selector img {
    max-width: 100%;
    max-height: 100%;
}

.selected {
    border: 10px solid black;
    background-color: forestgreen;
    color: white;
    font-weight: bold;
}

